<template>
    <div>
        <h1>Add a task</h1>
        <form action="#" @submit.prevent="createTask()">
            <div class="d-flex">
                <input v-model="taskInput.text" class="form-control mr-1" type="text" placeholder="Add task here...">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </form>

        <table class="table">
            <thead>
                <tr>
                <th scope="col">#</th>
                <th scope="col">Task</th>
                <th scope="col">Done</th>
                <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="task in list">
                    <th scope="row">{{ task.id }}</th>
                    <td><input type="text" class="form-control" style="border:0; box-shadow:none; background-color:#f6f8fa;" v-model="task.text" @keydown.enter="updateTask(task)"></td>
                    <td><input type="checkbox" @click="checkOrUncheckCheckbox(task.id)" :checked="checkboxToggle(task)"></td>
                    <td><button @click="deleteTask(task.id)" class="btn btn-danger">Verwijderen</button></td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>

    var csrf_token = $('meta[name="csrf-token"]').attr('content');

    export default {
        data() {
            return {
                list: [],
                taskInput: {
                    id: '',
                    text: ''
                }
            }
        },

        created() {
            this.getAllTasks()
        },

        methods: {
            createTask() {
                axios({
                    method: 'post',
                    url: 'task',
                    data: {
                        _token: csrf_token,
                        text: this.taskInput.text
                    }
                })
                .then(response => {
                    this.taskInput.text = '',
                    this.getAllTasks()
                })
            },

            getAllTasks() {
                axios.get('task')
                .then(response => {
                    this.list = response.data
                })
            },

            deleteTask(id) {
                axios.delete('task/' + id)
                .then(response => {
                    this.getAllTasks()
                })
            },

            updateTask(task) {
                axios({
                    method: 'put',
                    url: 'task/' + task.id,
                    data: {
                        text: task.text
                    }
                })
            },

            checkboxToggle(task) {
                if (task.done) return true
            },

            checkOrUncheckCheckbox(id) {
                axios.post('task/check/' + id)
            }
        }
    }
</script>

